@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}
body {
  font-family: "Roboto";
  font-weight: 600;
}

*, *::after, *::before {
  box-sizing: border-box;
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100%;
}

button, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1006px;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }
}

.site-container {
  height: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body, button {
  font-family: "Montserrat", sans-serif;
}

.main-screen__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(180deg, #E6F0FF 0%, #F0F6FF 69.8%, rgba(243, 248, 251, 0) 100%);
  border-radius: 16px;
  position: relative;
}
@media (max-width: 991px) {
  .main-screen__inner {
    padding-top: 80px !important;
    min-height: 365px;
  }
}
@media (max-width: 768px) {
  .main-screen__inner {
    flex-direction: column-reverse;
    padding: 15px;
    background: linear-gradient(180deg, #E6F0FF 0%, #F0F6FF 69.8%, rgba(243, 248, 251, 0) 100%);
  }
}
.main-screen__inner .ref-btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .main-screen__inner .ref-btns {
    flex-direction: column;
    margin-top: 20px;
  }
}
.main-screen__inner .ref-btns .blue-btn {
  margin-top: 0;
  height: 48px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .main-screen__inner .ref-btns .blue-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.main-screen__inner .ref-btns .ref-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #3A75FF;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.2s linear;
}
.main-screen__inner .ref-btns .ref-link:hover {
  opacity: 0.6;
}
.main-screen__inner .ref-btns .ref-link span {
  padding-bottom: 2px;
  border-bottom: 1px dashed #3A75FF;
}
.main-screen__inner .ref-btns .ref-link svg {
  margin-right: 5px;
}
.main-screen .bonus-count {
  padding: 6px 16px;
  background: linear-gradient(82.2deg, #9E91F1 0.29%, #4C7EF2 91.06%);
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 65px;
}
.main-screen .bonus-count-closed {
  background: linear-gradient(82.2deg, #FF2F61 0.29%, #D32A3F 91.06%);
}
.main-screen .country-wrapper {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #303133;
  position: absolute;
  top: 30px;
  left: 60px;
}
@media (max-width: 991px) {
  .main-screen .country-wrapper {
    top: 16px;
    left: 60px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .main-screen .country-wrapper {
    left: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.main-screen .country-wrapper .country {
  display: flex;
  align-items: center;
}
.main-screen .country-wrapper .country b {
  font-weight: 600;
  padding-left: 5px;
}
.main-screen .country-wrapper .country-choice {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #3A75FF;
  display: block;
  margin-left: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: none;
  border: none;
  cursor: pointer;
}
.main-screen .country-wrapper .country-choice:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .main-screen .country-wrapper .country-choice {
    margin-left: 0;
    margin-top: 2px;
    padding: 0;
  }
}
.main-screen .country-wrapper .tooltip {
  position: relative;
}
.main-screen .country-wrapper .tooltip .icon {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='white'/%3E%3Cpath d='M7.43575 9.21111C7.43575 8.82593 7.52142 8.50741 7.69274 8.25556C7.87151 8.0037 8.12849 7.72593 8.46369 7.42222C8.7095 7.2 8.88827 7.01481 9 6.86667C9.11918 6.71111 9.17877 6.53704 9.17877 6.34444C9.17877 6.07037 9.06704 5.85556 8.84358 5.7C8.62756 5.53704 8.33706 5.45556 7.97207 5.45556C7.62197 5.45556 7.30912 5.52963 7.03352 5.67778C6.76536 5.81852 6.53817 6.01852 6.35196 6.27778L5 5.48889C5.31285 5.01481 5.73371 4.64815 6.26257 4.38889C6.79888 4.12963 7.43203 4 8.16201 4C9.01862 4 9.70391 4.18148 10.2179 4.54444C10.7393 4.90741 11 5.41111 11 6.05556C11 6.35926 10.9479 6.62593 10.8436 6.85556C10.7467 7.08519 10.6238 7.28148 10.4749 7.44444C10.3333 7.6 10.1471 7.78148 9.9162 7.98889C9.6406 8.23333 9.43948 8.44074 9.31285 8.61111C9.18622 8.77407 9.12291 8.97407 9.12291 9.21111H7.43575ZM8.28492 12C7.97952 12 7.72253 11.9037 7.51397 11.7111C7.31285 11.5111 7.21229 11.2704 7.21229 10.9889C7.21229 10.7074 7.31285 10.4741 7.51397 10.2889C7.71508 10.0963 7.97207 10 8.28492 10C8.59777 10 8.85475 10.0963 9.05587 10.2889C9.25698 10.4741 9.35754 10.7074 9.35754 10.9889C9.35754 11.2704 9.25326 11.5111 9.04469 11.7111C8.84358 11.9037 8.59032 12 8.28492 12Z' fill='%233A75FF'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  margin-left: 6px;
  display: block;
  cursor: pointer;
}
.main-screen .country-wrapper .tooltip .content {
  opacity: 0;
  visibility: hidden;
  background: #393939;
  border-radius: 8px;
  position: absolute;
  top: 25px;
  left: 65%;
  transform: translateX(-50%);
  padding: 10px 16px;
  color: #fff;
  width: 250px;
  transition: 0.2s linear;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.main-screen .country-wrapper .tooltip .content::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #393939 transparent;
}
.main-screen .country-wrapper .tooltip:hover .content {
  visibility: visible;
  opacity: 1;
}
.main-screen__content {
  margin-right: 50px;
  margin-top: -50px;
}
@media (max-width: 768px) {
  .main-screen__content {
    margin-top: 10px;
    margin-right: 0;
  }
}
.main-screen__content h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .main-screen__content h1 {
    font-size: 24px;
  }
}
.main-screen__content p {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  margin-top: 20px;
  max-width: 450px;
}
.main-screen__img {
  max-width: 340px;
  width: 100%;
}
@media (max-width: 768px) {
  .main-screen__img {
    margin-bottom: 20px;
  }
}
.main-screen__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.timer {
  display: flex;
  padding: 17px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 25px;
}
.timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 40px !important;
  max-width: 40px !important;
}
.timer svg {
  margin: 0px 6px;
  margin-top: 12px;
}
.timer .number {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #303133;
}
.timer .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #303133;
  text-transform: uppercase;
}

.text__inner {
  padding-top: 40px;
  padding-bottom: 90px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .text__inner {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    padding-bottom: 45px;
    padding-top: 10px;
    padding: 0px 10px;
  }
}

.video-block__inner {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .video-block__inner {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
  }
}
.video-block .video {
  min-width: 65%;
  aspect-ratio: 16/9;
  margin-right: 30px;
  position: relative;
  background: linear-gradient(0deg, #ECF4FF, #ECF4FF);
  border-radius: 30px;
}
.video-block .video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 48.1C30.3652 48.1 36.4697 45.6136 40.9706 41.1877C45.4714 36.7619 48 30.7591 48 24.5C48 18.2409 45.4714 12.2381 40.9706 7.81228C36.4697 3.38642 30.3652 0.900002 24 0.900002C17.6348 0.900002 11.5303 3.38642 7.02944 7.81228C2.52856 12.2381 0 18.2409 0 24.5C0 30.7591 2.52856 36.7619 7.02944 41.1877C11.5303 45.6136 17.6348 48.1 24 48.1ZM22.665 16.1456C22.2132 15.8492 21.688 15.6789 21.1455 15.653C20.6031 15.6271 20.0636 15.7465 19.5847 15.9985C19.1058 16.2504 18.7055 16.6255 18.4264 17.0837C18.1473 17.5418 17.9999 18.0659 18 18.6V30.4C17.9999 30.9341 18.1473 31.4582 18.4264 31.9163C18.7055 32.3745 19.1058 32.7496 19.5847 33.0015C20.0636 33.2535 20.6031 33.3729 21.1455 33.347C21.688 33.3211 22.2132 33.1508 22.665 32.8544L31.665 26.9544C32.0759 26.685 32.4128 26.32 32.6458 25.8919C32.8788 25.4637 33.0007 24.9856 33.0007 24.5C33.0007 24.0144 32.8788 23.5363 32.6458 23.1081C32.4128 22.68 32.0759 22.315 31.665 22.0456L22.665 16.1456Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .video-block .video {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: auto;
    border-radius: 16px;
  }
  .video-block .video iframe {
    height: 400px;
  }
}
@media (max-width: 580px) {
  .video-block .video iframe {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .video-block .video iframe {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .video-block .video iframe {
    height: 200px;
  }
}
.video-block .video img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-block__content {
  max-height: 367px;
  scrollbar-width: thin;
  font-size: 16px;
  line-height: 160%;
  /* width */
  /* Track */
  /* Handle */
}
.video-block__content b {
  font-weight: 600;
}
@media (max-width: 768px) {
  .video-block__content {
    max-height: 100%;
  }
}
.video-block__content .link {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #4C68EF;
  display: inline-block;
  margin-top: 42px;
}
.video-block__content .link:hover {
  color: #2340CD;
}
@media (max-width: 768px) {
  .video-block__content .link {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    margin-top: 20px;
  }
}
.video-block__content .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #303133;
}
@media (max-width: 768px) {
  .video-block__content .name {
    font-size: 13px;
  }
}
.video-block__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #303133;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .video-block__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
}
.video-block__content::-webkit-scrollbar {
  width: 8px;
}
.video-block__content::-webkit-scrollbar-track {
  background: #E8F2FF;
  border-radius: 5px;
}
.video-block__content::-webkit-scrollbar-thumb {
  width: 4px;
  background: #CBDAEF;
  border-radius: 5px;
}

.blue-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  color: #FFFFFF;
  padding: 7px 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #3A75FF;
  border-radius: 16px;
  margin-top: 30px;
  display: block;
  transition: 0.2s linear;
}
.blue-btn:hover {
  box-shadow: 0px 12px 18px rgba(58, 117, 255, 0.4);
  background: #3A75FF;
}

.copy-link {
  position: relative;
}
.copy-link::before {
  position: absolute;
  content: "Ссылка скопирована";
  background: #555;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  color: #fff;
  top: -45px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  font-size: 12px;
  opacity: 0;
  transition: 0.1s linear;
}

.copy-link.visible::before {
  transform: translateX(-50%) translateY(0px);
  opacity: 1;
}

.examples {
  margin-top: 70px;
}
.examples-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  color: #303133;
  padding-left: 20px;
  margin-bottom: 40px;
}
.examples-title b {
  font-weight: 600;
}
@media (max-width: 768px) {
  .examples-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .examples {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
.examples-slider {
  overflow: hidden;
  padding: 20px;
}
@media (max-width: 768px) {
  .examples-slider {
    padding: 10px;
  }
}
.examples-slider-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .examples-slider-nav {
    margin-top: 15px;
  }
}
.examples-slider-nav .prev-slide, .examples-slider-nav .next-slide {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.examples-slider-nav .prev-slide:hover svg path, .examples-slider-nav .next-slide:hover svg path {
  stroke: #3A75FF;
}
.examples-slider-nav .slider-pagination {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.examples-slider-nav .slider-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin-top: 0;
  cursor: pointer;
  background: rgba(160, 182, 209, 0.31);
  opacity: 1 !important;
}
.examples-slider-nav .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #3A75FF;
}
.examples-slider-nav .slider-pagination .swiper-pagination-bullet:hover {
  background: #1353E9;
}
.examples .container {
  max-width: 1040px;
}
@media (max-width: 768px) {
  .examples .container {
    padding: 0;
  }
}
.examples__slider-wrapper {
  display: flex;
}
.examples__slide {
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  border-radius: 16px;
  padding: 30px;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));
}
@media (max-width: 768px) {
  .examples__slide {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .examples__slide {
    min-height: 280px;
  }
}
.examples__slide .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #303133;
}
@media (max-width: 768px) {
  .examples__slide .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
  }
}
.examples__slide .text {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .examples__slide .text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
  }
}

.faq {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .faq {
    margin-top: 40px;
  }
}
.faq-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .faq-title {
    margin-bottom: 25px;
  }
}
.faq .ac {
  background: #E8F2FF;
  border-radius: 16px;
  border: none;
  transition: 0.2s linear;
  font-family: "Montserrat", sans-serif;
}
.faq .ac .ac-trigger {
  border: none;
  border-radius: none;
  padding: 21px;
  padding-left: 60px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .faq .ac .ac-trigger {
    font-size: 15px !important;
    padding: 15px;
    padding-left: 45px;
  }
}
.faq .ac .ac-trigger:after {
  content: "";
  right: auto;
  left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 8.5V17M17 17V25.5M17 17H25.5M17 17H8.5' stroke='%233A75FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 34px;
  height: 34px;
  background-size: cover;
}
@media (max-width: 768px) {
  .faq .ac .ac-trigger:after {
    left: 5px;
  }
}
.faq .ac .ac-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.faq .ac .ac-text ul {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  padding-right: 60px;
  padding-top: 0;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .faq .ac .ac-text ul {
    padding-right: 0;
  }
}
.faq .ac .ac-text ul li {
  position: relative;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .faq .ac .ac-text ul li {
    font-size: 13px !important;
  }
}
.faq .ac .ac-text ul li::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 12px;
  left: 0;
  background: #303133;
}
@media (max-width: 768px) {
  .faq .ac .ac-text {
    font-size: 13px !important;
    padding-left: 45px;
  }
}
.faq .ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 17H17H8.5' stroke='%234EC5DE' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
}
.faq .ac.is-active {
  background: #F4F8FE;
}

.ref {
  margin-top: 70px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .ref {
    margin-top: 30px;
  }
}
.ref__inner .text {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #303133;
}
@media (max-width: 768px) {
  .ref__inner .text {
    font-size: 15px;
  }
}
.ref__inner .ref-btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .ref__inner .ref-btns {
    flex-direction: column;
    margin-top: 20px;
  }
}
.ref__inner .ref-btns .timer {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .ref__inner .ref-btns .timer {
    margin: 30px 0px;
  }
}
.ref__inner .ref-btns .blue-btn {
  margin-top: 0;
}
@media (max-width: 768px) {
  .ref__inner .ref-btns .blue-btn {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
}
.ref__inner .ref-btns .ref-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #3A75FF;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.2s linear;
}
.ref__inner .ref-btns .ref-link:hover {
  opacity: 0.6;
}
.ref__inner .ref-btns .ref-link span {
  padding-bottom: 2px;
  border-bottom: 1px dashed #3A75FF;
}
.ref__inner .ref-btns .ref-link svg {
  margin-right: 5px;
}

.progress {
  margin-top: 60px;
}
.progress-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
  position: relative;
  margin-bottom: 35px;
}
.progress-title b {
  font-weight: 600;
}
@media (max-width: 768px) {
  .progress-title {
    font-size: 22px;
  }
}
.progress .circle-progress__wrapper {
  padding: 33px 40px;
  background: #E8F2FF;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  .progress .circle-progress__wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper {
    padding: 16px;
    padding-top: 10px;
  }
}
.progress .circle-progress__wrapper .circle-progress__content {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 2px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 220px;
  width: 100%;
}
@media (max-width: 991px) {
  .progress .circle-progress__wrapper .circle-progress__content {
    border: none;
    margin-bottom: 15px;
    padding-right: 0;
    margin-right: 0;
  }
}
.progress .circle-progress__wrapper .circle-progress__content .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #303133;
  text-align: center;
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper .circle-progress__content .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .progress .circle-progress__wrapper .circle-progress__content .text--big {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }
}
.progress .circle-progress__wrapper .circle-progress__content .text--big {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}
@media (max-width: 991px) {
  .progress .circle-progress__wrapper .circle-progress__content .text--big {
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper .circle-progress__content .text--big {
    padding-top: 0;
  }
}
.progress .circle-progress__wrapper .circle-progress__items {
  display: flex;
  gap: 21px;
}
.progress .circle-progress__wrapper .circle-progress__items-wrapper {
  position: relative;
}
.progress .circle-progress__wrapper .circle-progress__items-wrapper .circle-progress__days {
  position: absolute;
  right: 0px;
  bottom: -35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper .circle-progress__items-wrapper .circle-progress__days {
    position: static;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    padding-top: 12px;
  }
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper .circle-progress__items {
    gap: 6px;
  }
}
.progress .circle-progress__wrapper .circle-progress__items .circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #BED2F2;
}
.progress .circle-progress__wrapper .circle-progress__items .circle--fill {
  background: #4C68EF;
}
@media (max-width: 768px) {
  .progress .circle-progress__wrapper .circle-progress__items .circle {
    width: 14px;
    height: 14px;
  }
}

.bonus {
  margin-top: 70px;
}
.bonus-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
  margin-bottom: 40px;
}
.bonus-title b {
  font-weight: 600;
}
@media (max-width: 768px) {
  .bonus-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 30px;
  }
}
.bonus__item {
  padding: 32px 30px;
  background: #FFFFFF;
  border: 1px solid #EEF0F1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .bonus__item {
    padding: 20px 12px;
    margin-bottom: 15px;
  }
}
.bonus__item-title {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #303133;
  margin-bottom: 20px;
}
.bonus__item-title svg {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .bonus__item-title svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
@media (max-width: 768px) {
  .bonus__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 15px;
  }
}
.bonus__item-text {
  padding-left: 90px;
}
@media (max-width: 768px) {
  .bonus__item-text {
    padding-left: 0;
  }
}
.bonus__item-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #303133;
  padding: 20px 30px;
  background: #F4F8FE;
  border-radius: 16px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .bonus__item-text p {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 10px;
  }
}
.bonus__item-text p::before {
  content: "";
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='68' height='57' viewBox='0 0 68 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C4.18816 43.0837 29.1025 46.0476 66.5 49M66.5 49L60.5 41.5M66.5 49L59 56' stroke='%23A0B6D1'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  width: 65px;
  height: 55px;
  top: 0px;
  left: -75px;
  display: block;
  position: absolute;
}
@media (max-width: 768px) {
  .bonus__item-text p::before {
    display: none;
  }
}
.bonus__item-text p .example-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #3A75FF;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  margin-top: 8px;
}
.bonus__item-text p .example-link:hover {
  color: #1353E9;
  text-decoration: none;
}
@media (max-width: 768px) {
  .bonus__item-text p .example-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
  }
}

.button-text {
  margin-top: 65px;
}
@media (max-width: 768px) {
  .button-text {
    margin-top: 40px;
  }
}
.button-text__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .button-text__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.button-text a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 30px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .button-text a {
    margin-bottom: 15px;
  }
}
.button-text .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: #303133;
}

.attention {
  margin-bottom: 10px;
}
.attention-pt {
  padding-top: 65px;
}
@media (max-width: 768px) {
  .attention {
    padding-top: 0px;
  }
}
.attention__inner {
  padding: 30px 35px;
  background: #FFEAB8;
  border-radius: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #303133;
}
@media (max-width: 768px) {
  .attention__inner {
    font-size: 13px;
    padding: 18px;
  }
}
.attention__inner a {
  color: #DA9900;
}
.attention__inner a:hover {
  color: #C58A00;
}
.attention__inner span::before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.31632 1.32831C8.27473 -0.442771 10.7265 -0.442771 11.6837 1.32831L18.6744 14.2468C19.614 15.984 18.4076 18.1276 16.492 18.1276H2.50923C0.592406 18.1276 -0.614065 15.984 0.325554 14.2468L7.31632 1.32831ZM10.7528 14.2221C10.7528 14.5675 10.6208 14.8987 10.3859 15.1429C10.1509 15.3871 9.83226 15.5243 9.49999 15.5243C9.16772 15.5243 8.84906 15.3871 8.61411 15.1429C8.37916 14.8987 8.24717 14.5675 8.24717 14.2221C8.24717 13.8767 8.37916 13.5455 8.61411 13.3012C8.84906 13.057 9.16772 12.9198 9.49999 12.9198C9.83226 12.9198 10.1509 13.057 10.3859 13.3012C10.6208 13.5455 10.7528 13.8767 10.7528 14.2221ZM9.49999 3.80393C9.16772 3.80393 8.84906 3.94113 8.61411 4.18535C8.37916 4.42957 8.24717 4.76081 8.24717 5.10619V9.013C8.24717 9.35838 8.37916 9.68962 8.61411 9.93384C8.84906 10.1781 9.16772 10.3153 9.49999 10.3153C9.83226 10.3153 10.1509 10.1781 10.3859 9.93384C10.6208 9.68962 10.7528 9.35838 10.7528 9.013V5.10619C10.7528 4.76081 10.6208 4.42957 10.3859 4.18535C10.1509 3.94113 9.83226 3.80393 9.49999 3.80393Z' fill='%23303133'/%3E%3C/svg%3E%0A");
  width: 19px;
  height: 19px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .attention__inner span::before {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
}

.example-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s linear;
}
@media (max-width: 768px) {
  .example-popup-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }
}
.example-popup-wrapper.opened {
  opacity: 1;
  visibility: visible;
}
.example-popup-wrapper .example-popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(48, 49, 51, 0.6);
  z-index: 1;
}
.example-popup-wrapper .example-popup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  max-width: 498px;
  width: 100%;
  z-index: 5;
}
@media (max-width: 768px) {
  .example-popup-wrapper .example-popup {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: auto;
    position: static !important;
    transform: translateX(0);
  }
}
.example-popup-wrapper .example-body {
  background: #FFFFFF;
  border-radius: 16px;
  margin-bottom: 6px;
}
.example-popup-wrapper .example-popup-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
  padding: 20px 25px;
  border-bottom: 1px solid #E9E9E9;
}
@media (max-width: 768px) {
  .example-popup-wrapper .example-popup-title {
    padding: 20px;
  }
}
.example-popup-wrapper .example-popup-content {
  padding: 20px 25px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.example-popup-wrapper .example-popup-content a {
  text-decoration: underline;
  color: #3A75FF;
  font-weight: 500;
}
@media (max-width: 768px) {
  .example-popup-wrapper .example-popup-content {
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.example-popup-wrapper .example-popup-content b {
  font-weight: 600;
}
.example-popup-wrapper .example-close {
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #303133;
}
@media (max-width: 768px) {
  .example-popup-wrapper .example-close {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
}

.text-with-img {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .text-with-img {
    margin-top: 50px;
    margin-bottom: 45px;
  }
}
.text-with-img .content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 180%;
  color: #3A75FF;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 12px;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  margin-top: 8px;
}

.text-with-img .inner {
  display: flex;
  align-items: center;
  padding: 35px;
  background: #F4F8FE;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .text-with-img .inner {
    font-size: 20px;
    padding: 15px;
    flex-direction: column;
  }
}
.text-with-img .inner svg {
  min-width: 300px;
  height: 250px;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .text-with-img .inner svg {
    margin-right: 0;
    max-width: 300px;
    width: 100%;
    min-width: 260px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .text-with-img .inner .content {
    padding-top: 20px;
  }
}
.text-with-img .inner .content h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}

@media (max-width: 768px) {
  .text-with-img .inner .content h2 {
    font-size: 20px;
  }
}
.text-with-img .inner .content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  padding-top: 20px;
}
.text-with-img .inner .content p b {
  font-weight: 600;
}
.text-with-img .inner .content p a {
  text-decoration: underline;
  color: #3A75FF;
  font-weight: 500;
}

@media (max-width: 768px) {
  .text-with-img .inner .content p {
    font-size: 13px;
  }
}
.small-text {
  padding-top: 33px;
}
@media (max-width: 768px) {
  .small-text {
    padding-top: 20px;
  }
}
.small-text__inner {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.small-text__inner a {
  color: #3A75FF;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .small-text__inner {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
}